In [1]:
#creating a list
my_list=[1,2,3,4,5]

#adding elements to list
my_list.append(6)

#removing elements from list
my_list.remove(3)

#modifying elements in list
my_list[2]=7

print("new_list:",my_list)

new_list: [1, 2, 7, 5, 6]

In [3]:
#creating a dictionary
my_dict={'name':'hasini','age':25,'city':'Delhi'}

#adding elements to dictionary
my_dict['gender']='Female'

#removing elements from dictionary
del my_dict['age']

#modifying elements in dictionary
my_dict['city']='Mumbai'

print("new dictionary:",my_dict)

new dictionary: {'name': 'hasini', 'city': 'Mumbai', 'gender': 'Female'}

In [4]:
#creating a set
my_set={1,2,3,4,5}

#adding elements to set
my_set.add(6)

#removing elements from set
my_set.remove(3)

#modifying elements in set
my_set.discard(1)
my_set.add(10)

print("new_set:",my_set)

new_set: {2, 4, 5, 6, 10}